@font-face {
  font-family: "GeorgiaBold";
  src: local("GeorgiaBold"),
    url("./fonts/Georgia/georgiabold.ttf") format("truetype");
}

@font-face {
  font-family: "GeorgiaSemiBold";
  src: local("GeorgiaSemiBold"),
    url("./fonts/Georgia/Georgia.ttf") format("truetype");
}

@font-face {
  font-family: "GeorgiaRegular";
  src: local("GeorgiaRegular"),
    url("./fonts/Georgia/GeorgiaRegularfont.ttf") format("truetype");
}

@font-face {
  font-family: "RubikBold";
  src: local("RubikBold"),
    url("./fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RubikSemiBold";
  src: local("RubikSemiBold"),
    url("./fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RubikRegular";
  src: local("RubikRegular"),
    url("./fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
